#![enable(implicit_some)]
Container(
    transform: (
        id: "player_container",
        anchor: Middle,
        stretch: XY( x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
        width: 20.,
        height: 20.,
    ),
    children:[
        Image(
            transform: (
                id: "frame",
                width: 150.,
                height: 250.,
                x: 110,
                y: 140,
                z: 2,
                anchor: BottomLeft,
                transparent: false,
            ),
            image: Texture(File("texture/actor_single_frame.png", ("IMAGE", ()))),
        ),
        Image(
            transform: (
                id: "flandre",
                width: 140.,
                height: 100.,
                x: 110,
                y: 200,
                z: 1,
                anchor: BottomLeft,
                transparent: true,
            ),
            image: Texture(File("character/flandre.png", ("IMAGE", ()))),
        )
    ]
)