#![enable(implicit_some)]
Container(
    transform: (
        id: "lobby_container",
        anchor: Middle,
        stretch: XY( x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
        width: 20.,
        height: 20.,
    ),
    background: Texture(File("texture/bg_gamelobby.png", ("IMAGE", ()))),
    children: [
        // For test select state
        Button(
            transform: (
                id: "lobby_start",
                x: -150,
                width: 100.,
                height: 50.,
                tab_order: 1,
                anchor: MiddleRight,
                mouse_reactive: true,
            ),
            button: (
                text: "开始游戏",
                font: File("font/AaWuShiXiaoShenXian.ttf", ("TTF", ())),
                font_size: 25.,
                normal_text_color: (0.7, 0.1, 0.11, 1.0),
                normal_image: Texture(File("texture/menu_btn_normal.png", ("IMAGE", ()))),
                hover_image: Texture(File("texture/menu_btn_press.png", ("IMAGE", ()))),
                press_image: Texture(File("texture/menu_btn_press.png", ("IMAGE", ()))),
            )
        ),
        // Chatbox input
        Container(
            transform: (
                id: "editable_container",
                x: -120.0,
                y: 20.0,
                width: 200.,
                height: 15.,
                tab_order: 1,
                anchor: BottomRight,
            ),
            background: SolidColor(0.64, 0.6, 0.6, 1.0),
            children: [
                Label(
                    transform: (
                        id: "editable",
                        x: 100,
                        width: 200.,
                        height: 15.,
                        tab_order: 1,
                        anchor: MiddleLeft,
                        stretch: XY(x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
                        mouse_reactive: true,
                        selectable: 0,
                    ),
                    text: (
                        text: "Editable",
                        font: File("font/AaWuShiXiaoShenXian.ttf", ("TTF", ())),
                        font_size: 15.,
                        color: (0.0, 0.0, 0.0, 1.0),
                        align: MiddleLeft,
                        editable: (
                            max_length: 2000,
                            selected_text_color: (0.09, 0.02, 0.25, 1.0),
                            selected_background_color: (1.0, 0.5, 0.8, 1.0),
                        ),
                    )
                ),
            ]
        ),
        // Chatbox output
        Container(
            transform: (
                id: "multiline_container",
                x: -120.,
                y: 140.,
                width: 200.,
                height: 200.,
                tab_order: 1,
                anchor: BottomRight,
            ),
            children: [
                Image(
                    transform: (
                        id: "background",
                        x: -100.,
                        y: 100.,
                        width: 200.,
                        height: 200.,
                        anchor: BottomRight,
                    ),
                    image: Texture(File("texture/bg_chatbox.png", ("IMAGE", ()))),
                ),
                Label(
                    transform: (
                        id: "multiline",
                        x: -100.,
                        y: 100.,
                        width: 200.,
                        height: 200.,
                        anchor: BottomRight,
                    ),
                    text: (
                        text: "Multiline\n",
                        font: File("font/AaWuShiXiaoShenXian.ttf", ("TTF", ())),
                        font_size: 15.,
                        color: (0.0, 0.0, 0.0, 1.0),
                        line_mode: Wrap,
                        align: TopLeft,
                    )
                ),
            ]
        ),
        // Show fps
        Label(
            transform: (
                id: "fps",
                x: 100.,
                y: -16,
                width: 200.,
                height: 25.,
                tab_order: 2,
                anchor: TopLeft,
                opaque: false,
            ),
            text: (
                text: "N/A",
                font: File("font/AaWuShiXiaoShenXian.ttf", ("TTF", ())),
                font_size: 25.,
                color: (0.498, 0.254, 0.937, 1.0),
            )
        ),
    ],
)
