#![enable(implicit_some)]
// Detailed field information can be found at https://docs.amethyst.rs/master/amethyst_ui/enum.UiWidget.html and related pages
Container(
    transform: (
        id: "background",
        anchor: Middle,
        stretch: XY( x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
        width: 20.,
        height: 20.,
    ),
    children: [
        Image(
            transform: (
                id: "background",
                width: 1280.,
                height: 720.,
                anchor: Middle,
            ),
            image: Texture(File("texture/bg_gamehall.png", ("IMAGE", ()))),
        ),
        Container(
            transform: (
                id: "container_start",
                x: -150,
                width: 100.,
                height: 50.,
                anchor: MiddleRight,
            ),
            background: SolidColor(1.0, 0.65, 0.0, 1.0),
            children: [
                Button(
                    transform: (
                        id: "start",
                        width: 100.,
                        height: 50.,
                        tab_order: 1,
                        anchor: Middle,
                        mouse_reactive: true,
                    ),
                    button: (
                        text: "开始游戏",
                        font: File("font/AaWuShiXiaoShenXian.ttf", ("TTF", ())),
                        font_size: 25.,
                        normal_text_color: (0.7, 0.1, 0.11, 1.0),
                        normal_image: Texture(File("texture/menu_btn_normal.png", ("IMAGE", ()))),
                        hover_image: Texture(File("texture/menu_btn_press.png", ("IMAGE", ()))),
                        press_image: Texture(File("texture/menu_btn_press.png", ("IMAGE", ()))),
                    )
                ),
            ]
        ),
        Container(
            transform: (
                id: "container_credits",
                y: -100,
                x: -150,
                width: 100.,
                height: 50.,
                anchor: MiddleRight,
            ),
            background: SolidColor(1.0, 0.65, 0.0, 1.0),
            children: [
                // Complex Button
                Button(
                    transform: (
                        id: "credits",
                        width: 100.,
                        height: 50.,
                        tab_order: 2,
                        anchor: Middle,
                        mouse_reactive: true,
                    ),
                    button: (
                        text: "相关信息",
                        font: File("font/AaWuShiXiaoShenXian.ttf", ("TTF", ())),
                        font_size: 25.,
                        normal_text_color: (0.7, 0.1, 0.11, 1.0),
                        normal_image: Texture(File("texture/menu_btn_normal.png", ("IMAGE", ()))),
                        hover_image: Texture(File("texture/menu_btn_press.png", ("IMAGE", ()))),
                        press_image: Texture(File("texture/menu_btn_press.png", ("IMAGE", ()))),
                    )
                ),
            ]
        ),

    ],
)
